# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Dataset (heavy + local)
# =========================
dataset/
dataset/**

# =========================
# Models (large files)
# =========================
models/
*.pt
*.pth
*.pkl
*.zip

# =========================
# Uploads / Runtime data
# =========================
static/uploads/

# =========================
# Logs / temp
# =========================
*.log
tmp/
temp/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.sqlite3
*.db